<h2 class="text-center" style="padding: 60px 0;color:#fff;">All Messages</h2>
<div style="position:absolute;top: 30px;right: 70px;">
<%= link_to 'Logout', destroy_admin_session_path ,method: :delete, :class => 'fy-logout-button fy-button-accent' %>
</div>
<div style="display:flex;justify-content:center;width:100%;min-height:100vh;padding: 50px 30px;">


  <div class="numberlist" style="overflow-x: auto;">
              <table>
                <thead>
                      <tr>
                      <th>Sl no.</th>
                      <th>Name of Sender</th>
                      <th>Contact No.</th>
                      <th>Email of Sender</th>
                      <th>Message of Sender</th>
                     <% if current_admin %> <th>Remove</th> <% end %>
                    </tr>
                </thead>
                  <tbody>
                      <% i = 0 %>
                      <% @messages.each do |message| %>
                      <% i = i.to_i + 1%>
                      <tr>
                          <td><%= i %></td>
                          <td><%= message.name %></td>
                          <td><%= message.phone %></td>
                          <td><%= message.email %></td>
                          <td><%= message.message %></td>
                        <% if current_admin %>  <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td> <% end %>
                      </tr>
                      <% end %>
                  </tbody>
              </table>
          </div>

</div>
