<div class="fy-container">
  <div class="fy-canvas js-sticky-container">
    <header class="fy-header fy-header-center js-reveal-container">
      <div class="fy-centerer js-reveal-fade" data-sr-id="2" style="; visibility: visible;  -webkit-transform: scale(1); opacity: 1;transform: scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.5s ease-in-out 0s, opacity 0.5s ease-in-out 0s; transition: transform 0.5s ease-in-out 0s, opacity 0.5s ease-in-out 0s; ">
        <div class="fy-flex-container fy-flex-container-center fy-flex-gutter-xsmall">
          <div class="fy-tablet-hide fy-phone-hide fy-flex-column-auto fy-flex-column-tablet-50 fy-flex-column-phone-100 fy-flex-order-tablet-2">
            <div class="fy-directions">
              <div class="fy-flex-container fy-flex-container-center fy-flex-gutter-0">
                <div class="fy-flex-column fy-flex-column-phone-100">
                  <a class="fy-icon fy-icon-place" href="https://www.google.cz/maps/place/Dispur+Hospitals/@26.1532892,91.7792473,16z/data=!4m13!1m7!3m6!1s0x375a591866013303:0x9a010eab0d7c7802!2zR2FuZXNoZ3VyaSwgR3V2w6Fow6F0w60sIMOBc8OhbSwgSW5kaWU!3b1!8m2!3d26.1537719!4d91.7824884!3m4!1s0x0:0x55cdfb20dff0d0bb!8m2!3d26.149691!4d91.7865846?hl=cs" target="_blank" tabindex="-1">
						 <svg class="icon" fill="#212335" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            	<path class="shape" d="M12,3c-3.9,0-7,3.1-7,7c0,1.5,0.5,3,1.3,4.1L12,21l5.7-6.9C18.5,13,19,11.5,19,10C19,6.1,15.9,3,12,3z
            			 M16.9,13.5L12,19.4l-4.9-5.9C6.4,12.5,6,11.3,6,10c0-3.3,2.7-6,6-6s6,2.7,6,6C18,11.3,17.6,12.5,16.9,13.5z M12,7
            			c-1.7,0-3,1.3-3,3s1.3,3,3,3s3-1.3,3-3S13.7,7,12,7z M12,12c-1.1,0-2-0.9-2-2s0.9-2,2-2s2,0.9,2,2S13.1,12,12,12z"></path>
             </svg>
             <span class="fy-hide">Ganeshguri, KekuraNagar Dispur Assam</span>
						</a>
                </div>
                <div class="fy-flex-column-auto">
                  <div class="fy-address">
                    <a href="https://www.google.cz/maps/place/Dispur+Hospitals/@26.1532892,91.7792473,16z/data=!4m13!1m7!3m6!1s0x375a591866013303:0x9a010eab0d7c7802!2zR2FuZXNoZ3VyaSwgR3V2w6Fow6F0w60sIMOBc8OhbSwgSW5kaWU!3b1!8m2!3d26.1537719!4d91.7824884!3m4!1s0x0:0x55cdfb20dff0d0bb!8m2!3d26.149691!4d91.7865846?hl=cs" target="_blank">Ganeshguri, KekuraNagar Dispur Assam</a>
                  </div>
                  <div class="fy-hours">Monday - Sunday: 8 am - 9 pm</div>
                </div>
              </div>
            </div>
          </div>
          <div class="fy-position-relative fy-flex-column-auto fy-flex-column-tablet-100 fy-flex-order-tablet-1">
            <div class="fy-flex-container fy-flex-container-center fy-flex-gutter-xsmall">
              <div class="fy-flex-column-auto">
                <h1 class="fy-logo fy-logo-image" itemprop="name">
		       <a href="#" style="width: 300px; height: 130px;" rel="home">
             <%= image_tag("Rolling-Balls-logo.png", :alt => "Ginger Grill", :width => 180 ) %>
           </a>
          </h1>
              </div>
              <div class="fy-flex-column">
                <div class="fy-header-bar">
                  <div class="fy-flex-container fy-flex-container-center fy-flex-gutter-0">
                    <div class="fy-flex-column-auto">
                      <div class="fy-navigation-trigger js-navigation-trigger">
                        <div class="fy-navigation-open">
                          <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
	                  <path class="shape" d="M3,19h18v-1H3V19z M3,6v1h18V6H3z M3,13h18v-1H3V13z"></path>
                  </svg>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="fy-tablet-hide fy-phone-hide fy-flex-column-auto fy-flex-column-tablet-50 fy-flex-column-phone-100 fy-flex-order-tablet-3 fy-align-right">
            <div class="fy-flex-container fy-flex-container-top fy-flex-gutter-0">
              <div class="fy-flex-column-auto">
                <nav class="fy-socials fy-socials-networks">
                  <ul>
                    <li>
                      <a href="#" itemprop="sameAs" title="Twitter" target="_blank">
                        <div class="fy-icon">
                          <svg class="icon twitter" width="24" height="24" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              	<path class="shape" fill="#55ACEE" d="M19.6,5.6c0.9-0.5,1.5-1.3,1.8-2.4c-0.8,0.5-1.6,0.8-2.6,1
              			C18,3.5,16.9,3,15.8,3c-2.3,0-4.1,2-4.1,4.3c0,0.4,0,0.7,0.1,0.9C8.5,8.1,5.4,6.4,3.4,3.8C3,4.4,2.9,5.1,2.9,5.9
              			c0,1.4,0.8,2.7,1.9,3.5c-0.6,0-1.3-0.3-1.9-0.5c0,2.1,1.4,3.8,3.3,4.2c-0.4,0.1-0.8,0.1-1.1,0.1c-0.3,0-0.5,0-0.8-0.1
              			c0.5,1.7,2,3,3.9,3C6.8,17.3,5,17.9,3,17.9H2C3.9,19.3,6,20,8.3,20c7.5,0,11.6-6.5,11.6-12.2V7.3C20.8,6.7,21.5,5.9,22,5
              			C21.3,5.4,20.5,5.5,19.6,5.6z"></path>
               </svg>
                          <span class="fy-hide">Twitter</span>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#" itemprop="sameAs" title="Instagram" target="_blank">
                        <div class="fy-icon">
                          <svg class="icon instagram" width="24" height="24" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path class="shape" fill="#3F729B" d="M21.9,7.9c0-1.1-0.2-1.8-0.5-2.4c-0.3-0.7-0.6-1.2-1.2-1.8c-0.6-0.6-1.1-0.9-1.8-1.2
                          		c-0.6-0.2-1.4-0.4-2.4-0.5C15.1,2,14.7,2,12,2S8.9,2,7.9,2.1c-1.1,0-1.8,0.2-2.4,0.5C4.8,2.8,4.2,3.1,3.7,3.7
                          		C3.1,4.2,2.8,4.8,2.5,5.5C2.3,6.1,2.1,6.8,2.1,7.9C2,8.9,2,9.3,2,12c0,2.7,0,3.1,0.1,4.1c0,1.1,0.2,1.8,0.5,2.4
                          		c0.3,0.7,0.6,1.2,1.2,1.8c0.6,0.6,1.1,0.9,1.8,1.2c0.6,0.2,1.4,0.4,2.4,0.5C8.9,22,9.3,22,12,22s3.1,0,4.1-0.1
                          		c1.1,0,1.8-0.2,2.4-0.5c0.7-0.3,1.2-0.6,1.8-1.2c0.6-0.6,0.9-1.1,1.2-1.8c0.2-0.6,0.4-1.4,0.5-2.4c0-1.1,0.1-1.4,0.1-4.1
                          		S22,8.9,21.9,7.9z M20.1,16c0,1-0.2,1.5-0.3,1.9c-0.2,0.5-0.4,0.8-0.7,1.1s-0.7,0.6-1.1,0.7c-0.4,0.1-0.9,0.3-1.9,0.3
                          		c-1.1,0-1.4,0.1-4,0.1s-3,0-4-0.1c-1,0-1.5-0.2-1.9-0.3C5.6,19.6,5.3,19.4,5,19s-0.6-0.7-0.7-1.1C4.1,17.5,3.9,17,3.9,16
                          		c0-1.1-0.1-1.4-0.1-4s0-3,0.1-4c0-1,0.2-1.5,0.3-1.9C4.4,5.6,4.6,5.3,5,5s0.7-0.6,1.1-0.7C6.5,4.1,7,3.9,8,3.9
                          		c1.1,0,1.4-0.1,4-0.1s3,0,4,0.1c1,0,1.5,0.2,1.9,0.3C18.4,4.4,18.7,4.6,19,5s0.6,0.7,0.7,1.1C19.9,6.5,20.1,7,20.1,8
                          		c0,1.1,0.1,1.4,0.1,4S20.2,15,20.1,16z M12,6.9c-2.8,0-5.1,2.3-5.1,5.1s2.3,5.1,5.1,5.1s5.1-2.3,5.1-5.1S14.8,6.9,12,6.9z
                          		 M12,15.3c-1.8,0-3.3-1.5-3.3-3.3s1.5-3.3,3.3-3.3s3.3,1.5,3.3,3.3S13.8,15.3,12,15.3z M17.3,5.5c-0.7,0-1.2,0.5-1.2,1.2
                          		s0.5,1.2,1.2,1.2s1.2-0.5,1.2-1.2S18,5.5,17.3,5.5z"></path>
                          </svg>
                          <span class="fy-hide">Instagram</span>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#" itemprop="sameAs" title="Yelp" target="_blank">
                        <div class="fy-icon">
                          <svg class="icon yelp" width="24" height="24" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                          	<path class="shape" fill="#AF0606" d="M10.7,3c-1.3,0-3,0.6-3.9,1.1c-0.4,0.2-0.6,0.6-0.3,1
                          		c0.7,1,3,4.6,4,6c0.5,0.7,1.5,0.3,1.5-0.5c-0.1-2.5-0.3-6-0.4-6.9C11.6,3.1,11.2,3,10.7,3z M10.5,13.6c0-0.3-0.2-0.5-0.5-0.6
                          		c-0.7-0.3-2.9-1.2-3.6-1.4c-0.6-0.3-1.1-0.3-1.3,0.4C5.1,12.4,5,14.2,5,14.6c0.1,0.4,0.1,0.7,0.3,0.9c0.2,0.2,0.6,0.1,0.9,0.1
                          		c1.1-0.4,2.9-0.9,3.9-1.2C10.3,14.3,10.5,13.9,10.5,13.6z M11.5,15.5c-0.5-0.2-0.7,0-1,0.2c-0.8,1-1.8,2.2-2.7,3.1
                          		c-0.3,0.3-0.2,0.8,0.2,1c0.5,0.4,2.1,1,3,1.1c0.6,0.1,0.9,0,0.9-0.7c0-0.6,0.1-2.3,0.1-3.9C12,15.9,11.9,15.7,11.5,15.5z
                          		 M14.3,13.1c1-0.2,2.8-0.6,3.9-0.9c0.7-0.2,0.8-0.5,0.5-1.3c-0.4-0.8-1.4-2.1-1.8-2.4c-0.3-0.3-0.7-0.2-0.9,0.1
                          		c-0.6,0.8-2.2,2.9-2.6,3.4C13,12.5,13.6,13.3,14.3,13.1z M18.3,15.9c-0.8-0.3-3-1-3.7-1.2c-0.4-0.1-0.7-0.2-1,0.2
                          		c-0.4,0.4-0.2,0.7-0.1,1c0.3,0.5,1.6,2.5,2.1,3.3c0.3,0.5,0.8,0.6,1.3,0.2c0.5-0.4,1.6-1.7,1.9-2.3C19,16.4,18.8,16.1,18.3,15.9z"></path>
                          </svg>
                          <span class="fy-hide">Yelp</span>
                        </div>
                      </a>
                    </li>
                  </ul>
                </nav>

                <div class="fy-socials fy-socials-contacts">
                  <ul>
                    <li class="fy-email">
                      <a href="mailto:gmail@gmail.com" title="gmail@gmail.com">
                        <div class="fy-icon">
                          <svg class="icon" fill="#1E1E2A" width="24" height="24" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                          	<path class="shape" d="M3,5v14h18V5H3z M19.3,6L12,13.3L4.7,6H19.3z M4,6.7L9.3,12L4,17.3V6.7z M4.7,18l5.3-5.3l2,2l2-2l5.3,5.3H4.7
                          			z M20,17.3L14.7,12L20,6.7V17.3z"></path>
                          </svg>
                          <span class="fy-hide">gmail@gmail.com</span>
                        </div>
                      </a>
                    </li>
                    <li class="fy-phone">
                      <a href="tel:+91-222-3344" title="+91-222-3344" itemprop="telephone">
                        <div class="fy-icon">
                          <svg class="icon" fill="#212335" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                          	<path class="shape" d="M15.4,14.7c0,0-1.3,3.8-1.3,3.8l0,0c-3.6-1.6-6.6-4.5-8.3-8c0,0,3.6-1.7,3.6-1.7C8.5,7,8,5.1,8,3H3l0.1,1
                          			c0.5,9.1,7.8,16.4,16.9,17l1,0v-5C19,16,17.1,15.5,15.4,14.7z M4.1,4h3c0.1,1.5,0.5,3,1,4.3L5.3,9.6C4.6,7.8,4.2,6,4.1,4z M20,20
                          			c-1.8-0.1-3.6-0.5-5.2-1.1l1-2.9c1.3,0.5,2.7,0.9,4.2,1V20z"></path>
                          </svg>
                          <span class="fy-hide">+8333040471</span>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="fy-slideshow-container">
     <div class="fy-slideshow fy-one-image" id="top">
      <div class="fy-slideshow-wrapper swiper-wrapper">
       <article class="fy-slide swiper-slide js-video-container fy-slide-layout-default fy-slide-caption-position-center fy-slide-caption-decoration-none">
        <div class="fy-slide-background swiper-lazy js-lazy lazy-loaded background-home-banner-1" style="opacity: 1; display: flex;background-image: url('/assets/home-banner-10.jpg')">
          <div class="fy-pattern dots-4-iso"></div>
        </div>
        <div class="fy-loading swiper-lazy-preloader">
          <div class="fy-loader">
            <div class="fy-spinner">
              <svg class="icon" width="24" height="24" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
	              <path class="shape" fill="#212335" d="M0,12h2C2,6.5,6.5,2,12,2V0C5.4,0,0,5.4,0,12z"></path>
              </svg>
            </div>
          </div>
        </div>
        <div class="fy-caption-centerer fy-centerer">
         <div class="fy-caption">
          <header class="fy-caption-header">
            <h2>Licensed to Rolling Balls.</h2>
          </header>
          <div class="fy-caption-content">
            A small <strong>quantity of salt</strong> and mixed in a little flour in meat and put the seasoning with all&nbsp;and bake gently for twelve endives.
          </div>

        </div>
      </div>
     </article>
    </div>
   </div>
  </div>

  <div class="fy-navigation-close js-navigation-close">
      <svg class="icon" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      	<polygon class="shape" points="20.4,4.4 19.6,3.6 12,11.3 4.4,3.6 3.6,4.4 11.3,12 3.6,19.6 4.4,20.4 12,12.7 19.6,20.4 20.4,19.6 12.7,12"></polygon>
      </svg>
  </div>

    <div id="navigation" class="fy-navigation-container fy-navigation-bottom js-navigation js-autohide is-hidden">
      <div class="fy-border-pattern askew-2">
        <svg class="border" width="2560" height="80" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2560 80">
	<polygon class="shape" points="0,80 2560,80 2560,0"></polygon>
</svg>
      </div>

      <nav class="fy-navigation">
        <ul id="navigation_primary" class="fy-navigation-list">
          <li id="menu-item-71" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1595 current_page_item menu-item-71"><a href="/">Home</a></li>
          <li id="menu-item-71" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1595 current_page_item menu-item-71"><a href="#about">About</a></li>
          <li id="menu-item-71" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1595 current_page_item menu-item-71"><a href="/">Events</a></li>
          <li id="menu-item-71" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1595 current_page_item menu-item-71"><a href="#gallery">Gallery</a></li>
          <li id="menu-item-71" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1595 current_page_item menu-item-71">
          <%= link_to 'Contact', contact_path %>
          </li>
        </ul>
      </nav>

    </div>


    <div class="fy-wrap fy-wrap-homepage">
      <div class="fy-border-pattern askew-2">
        <svg class="border" width="2560" height="80" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2560 80">
      <polygon class="shape" points="0,80 2560,80 2560,0"></polygon>
    </svg>
      </div>
      <div class="fy-homepage fy-homepage-restaurant">
        <div id="content" class="fy-anchor"></div>
        <main class="fy-main fy-main-homepage-restaurant">
          <section class="fy-about fy-homepage-about" id="about">
            <div class="fy-border-pattern askew-2">
              <svg class="border" width="2560" height="80" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2560 80">
  	           <polygon class="shape" points="0,80 2560,80 2560,0"></polygon>
              </svg>
            </div>
            <div class="fy-centerer">
              <div class="fy-flex-container fy-flex-gutter-0">
                <div class="fy-about-content-column fy-flex-column-50 fy-flex-column-tablet-100">
                  <div class="fy-about-content js-reveal-container">
                    <header class="fy-about-header fy-content-heading js-reveal" data-sr-id="4" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.5s ease-in-out 0s, opacity 0.5s ease-in-out 0s; transition: transform 0.5s ease-in-out 0s, opacity 0.5s ease-in-out 0s; ">
                      <h2>Delicious Steaks.<br> To fit your taste.</h2>
                    </header>
                    <div class="fy-about-description js-reveal" data-sr-id="5" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.5s ease-in-out 0s, opacity 0.5s ease-in-out 0s; transition: transform 0.5s ease-in-out 0s, opacity 0.5s ease-in-out 0s; ">
                      <p>Take your mushrooms, cut near the sieve, add oil on to prevent the liquor of the oven, for three hours on your pieces to boil up two or kidney gravy that have it, and sugar over it.</p>
                      <p>Cut three onions, five minutes, then add a little flour. Beat up with curry. Put some salt and three carrots.</p>
                    </div>
                    <div class="fy-about-buttons js-reveal" data-sr-id="6" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.5s ease-in-out 0s, opacity 0.5s ease-in-out 0s; transition: transform 0.5s ease-in-out 0s, opacity 0.5s ease-in-out 0s; ">
                      <%= link_to 'View Menu', menu_path, class: 'fy-button fy-button-bordered' %>
                      <a href="#" class="fy-button fy-button-bordered">Book a table</a>

                    </div>
                  </div>
                </div>
                <div class="fy-about-image-column fy-flex-column-50 fy-flex-column-tablet-100 js-lazy-parent lazy-loaded">
                  <div class="fy-about-image js-lazy lazy-loaded" style="opacity: 1; display: block; background-image: url('./assets/about-1.jpg');"></div>
                  <div class="fy-loading">
                    <div class="fy-loader">
                      <div class="fy-spinner">
                        <svg class="icon" width="24" height="24" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                			<path class="shape" fill="#212335" d="M0,12h2C2,6.5,6.5,2,12,2V0C5.4,0,0,5.4,0,12z"></path>
                		</svg>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>


          <section class="fy-homepage-sections js-reveal-container" id="gallery">
            <div class="fy-border-pattern askew-2">
		        <svg class="border" width="2560" height="80" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2560 80">
            	<polygon class="shape" points="0,80 2560,80 2560,0"></polygon>
            </svg>
	          </div>

            <div class="fy-centerer">
              <header class="fy-content-heading">
                <h2>
                                      <a href="https://ginger.forqy.website/grill/menu/">
                            <span>Gallery</span>
                        </a>
                              </h2>
              </header>
             <main class="fy-main fy-main-single">

                <div id="content" class="fy-anchor"></div>

                <article class=" fy-post-gallery-single">
                  <div class="fy-masonry-item">
                    <a href="./assets/about-1.jpg" data-lightbox="image-1" data-title="playing Snooker" data-size="1280x1920" data-index="0" class="js-image js-lazy-parent lazy-loaded" itemprop="contentUrl">
                      <img src="./assets/about-1.jpg" alt="" class="img-responsive">
                    </a>
                  </div>
                  <div class="fy-masonry-item">
                    <a href="./assets/home-banner-10.jpg" data-lightbox="image-1" data-title="playing Snooker" data-size="1280x1920" data-index="0" class="js-image js-lazy-parent lazy-loaded" itemprop="contentUrl">
                      <img src="./assets/home-banner-10.jpg" alt="" class="img-responsive">
                    </a>
                  </div>
                  <div class="fy-masonry-item fy-masonry-item-full">
                    <a href="./assets/Rolling-Balls-7.jpg" data-lightbox="image-1" data-title="playing Snooker" data-size="1280x1920" data-index="0" class="js-image js-lazy-parent lazy-loaded" itemprop="contentUrl">
                      <img src="./assets/Rolling-Balls-7.jpg" alt="" class="img-responsive">
                    </a>
                  </div>
                  <div class="fy-masonry-item fy-masonry-item-full">
                    <a href="./assets/about-1.jpg" data-lightbox="image-1" data-title="playing Snooker" data-size="1280x1920" data-index="0" class="js-image js-lazy-parent lazy-loaded" itemprop="contentUrl">
                      <img src="./assets/about-1.jpg" alt="" class="img-responsive">
                    </a>
                  </div>
                  <div class="fy-masonry-item fy-masonry-item-full">
                    <a href="./assets/Rolling-Balls-9.jpg" data-lightbox="image-1" data-title="playing Snooker" data-size="1280x1920" data-index="0" class="js-image js-lazy-parent lazy-loaded" itemprop="contentUrl">
                      <img src="./assets/Rolling-Balls-9.jpg" alt="" class="img-responsive">
                    </a>
                  </div>
                  <div class="fy-masonry-item fy-masonry-item-full">
                    <a href="./assets/Rolling-Balls-11.jpg" data-lightbox="image-1" data-title="playing Snooker" data-size="1280x1920" data-index="0" class="js-image js-lazy-parent lazy-loaded" itemprop="contentUrl">
                      <img src="./assets/Rolling-Balls-11.jpg" alt="" class="img-responsive">
                    </a>
                  </div>
                  <div class="fy-masonry-item fy-masonry-item-full">
                    <a href="./assets/Rolling-Balls-12.jpg" data-lightbox="image-1" data-title="playing Snooker" data-size="1280x1920" data-index="0" class="js-image js-lazy-parent lazy-loaded" itemprop="contentUrl">
                      <img src="./assets/Rolling-Balls-12.jpg" alt="" class="img-responsive">
                    </a>
                  </div>
                  <div class="fy-masonry-item fy-masonry-item-full">
                    <a href="./assets/Rolling-Balls-13.jpg" data-lightbox="image-1" data-title="playing Snooker" data-size="1280x1920" data-index="0" class="js-image js-lazy-parent lazy-loaded" itemprop="contentUrl">
                      <img src="./assets/Rolling-Balls-13.jpg" alt="" class="img-responsive">
                    </a>
                  </div>
              	</article>
              </main>
            </div>
            </section>


            <section class="fy-about fy-homepage-about" id="about">
              <div class="fy-border-pattern askew-2">
                <svg class="border" width="2560" height="80" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2560 80">
                 <polygon class="shape" points="0,80 2560,80 2560,0"></polygon>
                </svg>
              </div>
              <div class="fy-centerer">
                <header class="fy-content-heading">
                  <h2 style="color:#282832">
                                        <a href="#">
                              <span>Combo Plans</span>
                          </a>
                                </h2>
                </header>
                <div class="fy-flex-container fy-flex-gutter-0">
                  <section class="pricing-section bg-5" style="width:100%">
                    <!-- Wrapper for slides -->

                          <div id="owl" class="owl-carousel">

                            <div class="item pricing pricing--yama">
                              <div class="pricing__item">
                                  <h3 class="pricing__title">Cafés <span class="pricing__amp">&amp;</span> Nightclubs</h3>
                                  <p class="pricing__sentence">Perfect for a Playing</p>
                                  <div class="pricing__price"><span class="pricing__currency"><i class="fa fa-inr" aria-hidden="true"></i></span>260<span class="pricing__period"></span></div>
                                  <ul class="pricing__feature-list">
                                      <li class="pricing__feature">Play for 2 hours</li>
                                      <li class="pricing__feature">and get 2 cold drinks</li>
                                  </ul>
                                  <button class="pricing__action">Choose plan</button>
                              </div>
                            </div>


                              <div class="pricing pricing--yama">
                                <div class="pricing__item">
                                    <h3 class="pricing__title">Diners <span class="pricing__amp">&amp;</span> Restaurants</h3>
                                    <p class="pricing__sentence">Great for restaurant owners</p>
                                    <div class="pricing__price"><span class="pricing__currency"><i class="fa fa-inr" aria-hidden="true"></i></span>300<span class="pricing__period"></span></div>
                                    <ul class="pricing__feature-list">
                                        <li class="pricing__feature">Get a billing of 300 or more </li>
                                        <li class="pricing__feature">and get a french fries</li>
                                        <li class="pricing__feature">free</li>
                                    </ul>
                                    <button class="pricing__action">Choose plan</button>
                                </div>
                              </div>

                              <div class="pricing pricing--yama">
                                <div class="pricing__item">
                                    <h3 class="pricing__title">BBs <span class="pricing__amp">&amp;</span> Pensions</h3>
                                    <p class="pricing__sentence">Suitable for BBs and Pensions</p>
                                    <div class="pricing__price"><span class="pricing__currency"><i class="fa fa-inr" aria-hidden="true"></i></span>Play Unlimited<span class="pricing__period"></span></div>
                                    <ul class="pricing__feature-list">
                                        <li class="pricing__feature">Unlimited employees</li>
                                        <li class="pricing__feature">Free support</li>
                                        <li class="pricing__feature">Full social media package</li>
                                        <li class="pricing__feature"><a data-toggle="modal" href="#example" style="color: #b4a08c;">Read More</a></li>
                                    </ul>
                                    <button class="pricing__action">Choose plan</button>
                                </div>
                              </div>
                              <div class="pricing pricing--yama">
                                <div class="pricing__item">
                                    <h3 class="pricing__title">BBs <span class="pricing__amp">&amp;</span> Pensions</h3>
                                    <p class="pricing__sentence">Suitable for BBs and Pensions</p>
                                    <div class="pricing__price"><span class="pricing__currency"></span>25 hours<span class="pricing__period"></span></div>
                                    <ul class="pricing__feature-list">
                                        <li class="pricing__feature">As soon as you play for 25 hours </li>
                                        <li class="pricing__feature">get 1 hour free on any board</li>
                                        <li class="pricing__feature">Minimum Time spent must be 30 minutes that will be taken into Consideration</li>
                                    </ul>
                                    <button class="pricing__action">Choose plan</button>
                                </div>
                              </div>
                              <div class="pricing pricing--yama">
                                <div class="pricing__item">
                                    <h3 class="pricing__title">BBs <span class="pricing__amp">&amp;</span> Pensions</h3>
                                    <p class="pricing__sentence">Suitable for BBs and Pensions</p>
                                    <div class="pricing__price"><span class="pricing__currency"><i class="fa fa-inr" aria-hidden="true"></i></span>1000<span class="pricing__period"></span></div>
                                    <ul class="pricing__feature-list">
                                        <li class="pricing__feature">As soon as fooding bill goes cumulative to</li>
                                        <li class="pricing__feature">Rs 1000 within two weeks get Free</li>
                                        <li class="pricing__feature">(French Fries/ Sandwich/ Roll/ Maggie)</li>
                                    </ul>
                                    <button class="pricing__action">Choose plan</button>
                                </div>
                              </div>

                          </div>

            </section>



                </div>
              </div>
            </section>
            <section class="fy-homepage-sections ">
                <div class="fy-border-pattern askew-2">
                  <svg class="border" width="2560" height="80" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2560 80">
                    <polygon class="shape" points="0,80 2560,80 2560,0"></polygon>
                  </svg>
                </div>
                <div class="fy-centerer-75">
                  <div class="fy-flex-container fy-flex-gutter-xlarge">
                    <main class="fy-main fy-flex-column-auto fy-sidebar-inactive">
                      <div id="content" class="fy-anchor"></div>
                      <div class="fy-page-content">
                        <div class="fy-shortcode-container fy-flex-container fy-flex-container-top fy-flex-gutter-medium">
                          <div class="fy-shortcode-column fy-flex-column-33 fy-flex-column-tablet-33 fy-flex-column-phone-100">
                            <h2>Ginger Co.</h2>
                            <p>Meanwhile mash some Genoese cakes and add sugar pint of the croquettes, and the gaufre is not got a bit of the interior.</p>
                            <p><a href="https://www.google.cz/maps/place/Dispur+Hospitals/@26.1532892,91.7792473,16z/data=!4m13!1m7!3m6!1s0x375a591866013303:0x9a010eab0d7c7802!2zR2FuZXNoZ3VyaSwgR3V2w6Fow6F0w60sIMOBc8OhbSwgSW5kaWU!3b1!8m2!3d26.1537719!4d91.7824884!3m4!1s0x0:0x55cdfb20dff0d0bb!8m2!3d26.149691!4d91.7865846?hl=cs" target="_blank" rel="noopener noreferrer">Ginger Ave 1, Gingertown, GNGR</a></p>
                            <p>Phone: <a href="tel:+91-222-3344">+8333040471</a><br />
                            Email: <a href="mailto:gmail@gmail.com">gmail@gmail.com</a></p>
                            <p>Monday &#8211; Sunday: 8 am &#8211; 9 pm</p>
                          </div>
                          <div class="fy-shortcode-column fy-flex-column-66 fy-flex-column-tablet-66 fy-flex-column-phone-100">
                              <p><iframe src="https://www.google.com/maps/embed/v1/place?q=26.1538,91.7825&amp;key=AIzaSyCbdyWKIvscSpv4k_9HR5JHKBVQSgXMX7Q" width="600" height="400" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
                            </div>
                        </div>
                      </div>
                    </main>
                  </div>
                </div>

            </section>
            </main>
          </div>
    </div>


</div>



    <footer id="footer" class="fy-footer">
     <div class="fy-footer-copyright-area">
			<div class="fy-border-pattern askew-2">
		   <svg class="border" width="2560" height="80" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2560 80">
      	<polygon class="shape" points="0,80 2560,80 2560,0"></polygon>
       </svg>
	    </div>
      <div class="fy-centerer">
        <div class="fy-flex-container fy-flex-container-top js-reveal-container">
         <div class="fy-footer-directions fy-flex-column-auto fy-flex-column-phone-100 fy-flex-order-tablet-2">
          <div class="js-reveal" data-sr-id="32" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.5s ease-in-out 0s, opacity 0.5s ease-in-out 0s; transition: transform 0.5s ease-in-out 0s, opacity 0.5s ease-in-out 0s; ">
	        <div class="fy-directions">
		      <div class="fy-flex-container fy-flex-container-center fy-flex-gutter-0">
			    <div class="fy-flex-column fy-flex-column-phone-100">
					<a class="fy-icon fy-icon-place" href="https://www.google.cz/maps/place/Dispur+Hospitals/@26.1532892,91.7792473,16z/data=!4m13!1m7!3m6!1s0x375a591866013303:0x9a010eab0d7c7802!2zR2FuZXNoZ3VyaSwgR3V2w6Fow6F0w60sIMOBc8OhbSwgSW5kaWU!3b1!8m2!3d26.1537719!4d91.7824884!3m4!1s0x0:0x55cdfb20dff0d0bb!8m2!3d26.149691!4d91.7865846?hl=cs" target="_blank" tabindex="-1">
					  <svg class="icon" fill="#212335" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
	           <path class="shape" d="M12,3c-3.9,0-7,3.1-7,7c0,1.5,0.5,3,1.3,4.1L12,21l5.7-6.9C18.5,13,19,11.5,19,10C19,6.1,15.9,3,12,3z
            			 M16.9,13.5L12,19.4l-4.9-5.9C6.4,12.5,6,11.3,6,10c0-3.3,2.7-6,6-6s6,2.7,6,6C18,11.3,17.6,12.5,16.9,13.5z M12,7
            			c-1.7,0-3,1.3-3,3s1.3,3,3,3s3-1.3,3-3S13.7,7,12,7z M12,12c-1.1,0-2-0.9-2-2s0.9-2,2-2s2,0.9,2,2S13.1,12,12,12z"></path>
            </svg>
            <span class="fy-hide">Ganeshguri, KekuraNagar Dispur Assam</span>
					</a>
					</div>
			    <div class="fy-flex-column-auto">
					<div class="fy-address">
					<a href="https://www.google.cz/maps/place/Dispur+Hospitals/@26.1532892,91.7792473,16z/data=!4m13!1m7!3m6!1s0x375a591866013303:0x9a010eab0d7c7802!2zR2FuZXNoZ3VyaSwgR3V2w6Fow6F0w60sIMOBc8OhbSwgSW5kaWU!3b1!8m2!3d26.1537719!4d91.7824884!3m4!1s0x0:0x55cdfb20dff0d0bb!8m2!3d26.149691!4d91.7865846?hl=cs" target="_blank">Ganeshguri, KekuraNagar Dispur Assam</a>
					</div>
					<div class="fy-hours">Monday - Sunday: 8 am - 9 pm</div>
					</div>
          </div>
          </div>
        </div>
      </div>

      <div class="fy-footer-logo fy-flex-column-auto fy-flex-column-tablet-100 fy-flex-column-phone-100 fy-flex-order-tablet-1">
       <a href="#top" class="js-reveal" data-sr-id="33" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: color 0.25s ease-in-out 0s, background-color 0.25s ease-in-out 0s, border-color 0.25s ease-in-out 0s, -webkit-transform 0.5s ease-in-out 0s, opacity 0.5s ease-in-out 0s; transition: color 0.25s ease-in-out 0s, background-color 0.25s ease-in-out 0s, border-color 0.25s ease-in-out 0s, transform 0.5s ease-in-out 0s, opacity 0.5s ease-in-out 0s; ">
        <img src="./assets/Rolling-Balls-logo.png" width="90" alt="Rolling-Balls-logo">
       </a>
      </div>

      <div class="fy-footer-socials fy-flex-column-auto fy-flex-column-phone-100 fy-flex-order-tablet-2">
      <div class="js-reveal" data-sr-id="34" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.5s ease-in-out 0s, opacity 0.5s ease-in-out 0s; transition: transform 0.5s ease-in-out 0s, opacity 0.5s ease-in-out 0s; ">

      <nav class="fy-socials fy-socials-networks">
        <ul>
			    <li>
            <a href="#" itemprop="sameAs" title="Twitter" target="_blank">
            <div class="fy-icon">
						<svg class="icon twitter" width="24" height="24" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            	<path class="shape" fill="#55ACEE" d="M19.6,5.6c0.9-0.5,1.5-1.3,1.8-2.4c-0.8,0.5-1.6,0.8-2.6,1
            			C18,3.5,16.9,3,15.8,3c-2.3,0-4.1,2-4.1,4.3c0,0.4,0,0.7,0.1,0.9C8.5,8.1,5.4,6.4,3.4,3.8C3,4.4,2.9,5.1,2.9,5.9
            			c0,1.4,0.8,2.7,1.9,3.5c-0.6,0-1.3-0.3-1.9-0.5c0,2.1,1.4,3.8,3.3,4.2c-0.4,0.1-0.8,0.1-1.1,0.1c-0.3,0-0.5,0-0.8-0.1
            			c0.5,1.7,2,3,3.9,3C6.8,17.3,5,17.9,3,17.9H2C3.9,19.3,6,20,8.3,20c7.5,0,11.6-6.5,11.6-12.2V7.3C20.8,6.7,21.5,5.9,22,5
            			C21.3,5.4,20.5,5.5,19.6,5.6z"></path>
            </svg>
            <span class="fy-hide">Twitter</span>
            </div>
            </a>
           </li>
					 <li>
            <a href="#" itemprop="sameAs" title="Instagram" target="_blank">
              <div class="fy-icon">
							<svg class="icon instagram" width="24" height="24" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              	<path class="shape" fill="#3F729B" d="M21.9,7.9c0-1.1-0.2-1.8-0.5-2.4c-0.3-0.7-0.6-1.2-1.2-1.8c-0.6-0.6-1.1-0.9-1.8-1.2
              		c-0.6-0.2-1.4-0.4-2.4-0.5C15.1,2,14.7,2,12,2S8.9,2,7.9,2.1c-1.1,0-1.8,0.2-2.4,0.5C4.8,2.8,4.2,3.1,3.7,3.7
              		C3.1,4.2,2.8,4.8,2.5,5.5C2.3,6.1,2.1,6.8,2.1,7.9C2,8.9,2,9.3,2,12c0,2.7,0,3.1,0.1,4.1c0,1.1,0.2,1.8,0.5,2.4
              		c0.3,0.7,0.6,1.2,1.2,1.8c0.6,0.6,1.1,0.9,1.8,1.2c0.6,0.2,1.4,0.4,2.4,0.5C8.9,22,9.3,22,12,22s3.1,0,4.1-0.1
              		c1.1,0,1.8-0.2,2.4-0.5c0.7-0.3,1.2-0.6,1.8-1.2c0.6-0.6,0.9-1.1,1.2-1.8c0.2-0.6,0.4-1.4,0.5-2.4c0-1.1,0.1-1.4,0.1-4.1
              		S22,8.9,21.9,7.9z M20.1,16c0,1-0.2,1.5-0.3,1.9c-0.2,0.5-0.4,0.8-0.7,1.1s-0.7,0.6-1.1,0.7c-0.4,0.1-0.9,0.3-1.9,0.3
              		c-1.1,0-1.4,0.1-4,0.1s-3,0-4-0.1c-1,0-1.5-0.2-1.9-0.3C5.6,19.6,5.3,19.4,5,19s-0.6-0.7-0.7-1.1C4.1,17.5,3.9,17,3.9,16
              		c0-1.1-0.1-1.4-0.1-4s0-3,0.1-4c0-1,0.2-1.5,0.3-1.9C4.4,5.6,4.6,5.3,5,5s0.7-0.6,1.1-0.7C6.5,4.1,7,3.9,8,3.9
              		c1.1,0,1.4-0.1,4-0.1s3,0,4,0.1c1,0,1.5,0.2,1.9,0.3C18.4,4.4,18.7,4.6,19,5s0.6,0.7,0.7,1.1C19.9,6.5,20.1,7,20.1,8
              		c0,1.1,0.1,1.4,0.1,4S20.2,15,20.1,16z M12,6.9c-2.8,0-5.1,2.3-5.1,5.1s2.3,5.1,5.1,5.1s5.1-2.3,5.1-5.1S14.8,6.9,12,6.9z
              		 M12,15.3c-1.8,0-3.3-1.5-3.3-3.3s1.5-3.3,3.3-3.3s3.3,1.5,3.3,3.3S13.8,15.3,12,15.3z M17.3,5.5c-0.7,0-1.2,0.5-1.2,1.2
              		s0.5,1.2,1.2,1.2s1.2-0.5,1.2-1.2S18,5.5,17.3,5.5z"></path>
              </svg>
              <span class="fy-hide">Instagram</span>
              </div>
             </a>
            </li>
						<li>
             <a href="#" itemprop="sameAs" title="Yelp" target="_blank">
              <div class="fy-icon">
							 <svg class="icon yelp" width="24" height="24" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              	<path class="shape" fill="#AF0606" d="M10.7,3c-1.3,0-3,0.6-3.9,1.1c-0.4,0.2-0.6,0.6-0.3,1
              		c0.7,1,3,4.6,4,6c0.5,0.7,1.5,0.3,1.5-0.5c-0.1-2.5-0.3-6-0.4-6.9C11.6,3.1,11.2,3,10.7,3z M10.5,13.6c0-0.3-0.2-0.5-0.5-0.6
              		c-0.7-0.3-2.9-1.2-3.6-1.4c-0.6-0.3-1.1-0.3-1.3,0.4C5.1,12.4,5,14.2,5,14.6c0.1,0.4,0.1,0.7,0.3,0.9c0.2,0.2,0.6,0.1,0.9,0.1
              		c1.1-0.4,2.9-0.9,3.9-1.2C10.3,14.3,10.5,13.9,10.5,13.6z M11.5,15.5c-0.5-0.2-0.7,0-1,0.2c-0.8,1-1.8,2.2-2.7,3.1
              		c-0.3,0.3-0.2,0.8,0.2,1c0.5,0.4,2.1,1,3,1.1c0.6,0.1,0.9,0,0.9-0.7c0-0.6,0.1-2.3,0.1-3.9C12,15.9,11.9,15.7,11.5,15.5z
              		 M14.3,13.1c1-0.2,2.8-0.6,3.9-0.9c0.7-0.2,0.8-0.5,0.5-1.3c-0.4-0.8-1.4-2.1-1.8-2.4c-0.3-0.3-0.7-0.2-0.9,0.1
              		c-0.6,0.8-2.2,2.9-2.6,3.4C13,12.5,13.6,13.3,14.3,13.1z M18.3,15.9c-0.8-0.3-3-1-3.7-1.2c-0.4-0.1-0.7-0.2-1,0.2
              		c-0.4,0.4-0.2,0.7-0.1,1c0.3,0.5,1.6,2.5,2.1,3.3c0.3,0.5,0.8,0.6,1.3,0.2c0.5-0.4,1.6-1.7,1.9-2.3C19,16.4,18.8,16.1,18.3,15.9z"></path>
              </svg>
              <span class="fy-hide">Yelp</span>
              </div>
              </a>
              </li>
						</ul>
           </nav>

				 <div class="fy-socials fy-socials-contacts">
		      <ul>
					 <li class="fy-email">
					  <a href="mailto:gmail@gmail.com" title="gmail@gmail.com">
						<div class="fy-icon">
						<svg class="icon" fill="#1E1E2A" width="24" height="24" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            	<path class="shape" d="M3,5v14h18V5H3z M19.3,6L12,13.3L4.7,6H19.3z M4,6.7L9.3,12L4,17.3V6.7z M4.7,18l5.3-5.3l2,2l2-2l5.3,5.3H4.7
            			z M20,17.3L14.7,12L20,6.7V17.3z"></path>
            </svg>
						<span class="fy-hide">gmail@gmail.com</span>
						</div>
					  </a>
				   </li>
					<li class="fy-phone">
					 <a href="tel:+91-222-3344" title="+91-222-3344" itemprop="telephone">
						<div class="fy-icon">
							<svg class="icon" fill="#212335" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            	<path class="shape" d="M15.4,14.7c0,0-1.3,3.8-1.3,3.8l0,0c-3.6-1.6-6.6-4.5-8.3-8c0,0,3.6-1.7,3.6-1.7C8.5,7,8,5.1,8,3H3l0.1,1
            			c0.5,9.1,7.8,16.4,16.9,17l1,0v-5C19,16,17.1,15.5,15.4,14.7z M4.1,4h3c0.1,1.5,0.5,3,1,4.3L5.3,9.6C4.6,7.8,4.2,6,4.1,4z M20,20
            			c-1.8-0.1-3.6-0.5-5.2-1.1l1-2.9c1.3,0.5,2.7,0.9,4.2,1V20z"></path>
              </svg>
              <span class="fy-hide">+8333040471</span>
						</div>
					</a>
				  </li>
				 </ul>
	      </div>
      </div>
    </div>

		<div class="fy-footer-navigation-column fy-flex-column-100 fy-flex-order-tablet-2">
     <nav class="fy-footer-navigation js-reveal" data-sr-id="35" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.5s ease-in-out 0s, opacity 0.5s ease-in-out 0s; transition: transform 0.5s ease-in-out 0s, opacity 0.5s ease-in-out 0s; ">
			 <ul id="navigation_footer" class="fy-navigation-footer">
          <li id="menu-item-71" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1595 current_page_item menu-item-71"><a href="/">Home</a></li>
          <li id="menu-item-71" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1595 current_page_item menu-item-71"><a href="/#about">About</a></li>
          <li id="menu-item-71" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1595 current_page_item menu-item-71"><a href="">Events</a></li>
          <li id="menu-item-71" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1595 current_page_item menu-item-71"><a href="/#gallery">Gallery</a></li>
          <li id="menu-item-71" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1595 current_page_item menu-item-71">
          <%= link_to 'Contact', contact_path %>

          </li>
       </ul>
     </nav>
    </div>

    <div class="fy-footer-copyright-column fy-flex-column-100 fy-flex-order-tablet-2">
		 <a href="#top" class="fy-back-to-top js-back-to-top">
     <span class="fy-icon"><svg class="icon" width="24" height="24" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
	   <polygon class="shape" points="12.5,0 7,6 12,6 12,24 13,24 13,6 18,6"></polygon>
    </svg>
    </span>
    <span class="fy-hide">Back to Top</span>
    </a>
    <div class="fy-footer-copyright js-reveal" data-sr-id="36" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.5s ease-in-out 0s, opacity 0.5s ease-in-out 0s; transition: transform 0.5s ease-in-out 0s, opacity 0.5s ease-in-out 0s; ">
			Copyright © 2017 <a href="https://quadtrust.com/" title="Quadtrust Site">Quadtrust</a>.
  		<div class="fy-footer-themeby">
  			Theme by <a href="https://quadtrust.com/">Quadtrust</a>
      </div>
		</div>
  </div>
  </div>
  </div>
  </div>
  </footer>
  </div>
  <div id="example" class="modal fade" style="display: none; ">
			  <div class="modal-dialog modal-md">
				<div class="modal-content">
					<div class="modal-header" style="padding: 20px 10px;">
					<a class="close" data-dismiss="modal">×</a>
					<h5 style="color:black;margin-left: 20px;">Play Unlimited Pool or Snooker for a day as following</h3>
					</div>
					<div class="modal-body" style="color:#000">
					 <div style="display: flex;align-items:flex-end;padding: 20px 10px;">
					   <h3 style="margin-right: 8px;">1.</h3>
             <h5>Rs 280 for one</h5>
					 </div>
           <div style="display: flex;align-items:flex-end;padding: 20px 10px;">
					   <h3 style="margin-right: 8px;">2.</h3>
             <h5>Rs 550 for two(1 Cold Drink Free)</h5>
					 </div>
           <div style="display: flex;align-items:flex-end;padding: 20px 10px;">
					   <h3 style="margin-right: 8px;">3.</h3>
             <h5>Rs 800 for three(2 Cold Drink Free)</h5>
					 </div>
           <div style="display: flex;align-items:flex-end;padding: 20px 10px;">
					   <h3 style="margin-right: 8px;">4.</h3>
             <h5>Rs 1050 for four(3 Cold Drink Free)</h5>
					 </div>
					</div>
					<div class="modal-footer">
					<a href="#" class="btn btn-danger" data-dismiss="modal">Close</a>
					</div>
				</div>
			 </div>
            </div>
