<div class="fy-container">

    <div class="fy-canvas js-sticky-container">


      <header class="fy-header fy-header-center js-reveal-container" id="top">
        <div class="fy-centerer js-reveal-fade" data-sr-id="2" style="; visibility: visible;  -webkit-transform: scale(1); opacity: 1;transform: scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.5s ease-in-out 0s, opacity 0.5s ease-in-out 0s; transition: transform 0.5s ease-in-out 0s, opacity 0.5s ease-in-out 0s; ">
          <div class="fy-flex-container fy-flex-container-center fy-flex-gutter-xsmall">
            <div class="fy-tablet-hide fy-phone-hide fy-flex-column-auto fy-flex-column-tablet-50 fy-flex-column-phone-100 fy-flex-order-tablet-2">
              <div class="fy-directions">
                <div class="fy-flex-container fy-flex-container-center fy-flex-gutter-0">
                  <div class="fy-flex-column fy-flex-column-phone-100">
                    <a class="fy-icon fy-icon-place" href="https://www.google.cz/maps/place/Dispur+Hospitals/@26.1532892,91.7792473,16z/data=!4m13!1m7!3m6!1s0x375a591866013303:0x9a010eab0d7c7802!2zR2FuZXNoZ3VyaSwgR3V2w6Fow6F0w60sIMOBc8OhbSwgSW5kaWU!3b1!8m2!3d26.1537719!4d91.7824884!3m4!1s0x0:0x55cdfb20dff0d0bb!8m2!3d26.149691!4d91.7865846?hl=cs" target="_blank" tabindex="-1">
               <svg class="icon" fill="#212335" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path class="shape" d="M12,3c-3.9,0-7,3.1-7,7c0,1.5,0.5,3,1.3,4.1L12,21l5.7-6.9C18.5,13,19,11.5,19,10C19,6.1,15.9,3,12,3z
                     M16.9,13.5L12,19.4l-4.9-5.9C6.4,12.5,6,11.3,6,10c0-3.3,2.7-6,6-6s6,2.7,6,6C18,11.3,17.6,12.5,16.9,13.5z M12,7
                    c-1.7,0-3,1.3-3,3s1.3,3,3,3s3-1.3,3-3S13.7,7,12,7z M12,12c-1.1,0-2-0.9-2-2s0.9-2,2-2s2,0.9,2,2S13.1,12,12,12z"></path>
               </svg>
               <span class="fy-hide">Ganeshguri, KekuraNagar Dispur Assam</span>
              </a>
                  </div>
                  <div class="fy-flex-column-auto">
                    <div class="fy-address">
                      <a href="https://www.google.cz/maps/place/Dispur+Hospitals/@26.1532892,91.7792473,16z/data=!4m13!1m7!3m6!1s0x375a591866013303:0x9a010eab0d7c7802!2zR2FuZXNoZ3VyaSwgR3V2w6Fow6F0w60sIMOBc8OhbSwgSW5kaWU!3b1!8m2!3d26.1537719!4d91.7824884!3m4!1s0x0:0x55cdfb20dff0d0bb!8m2!3d26.149691!4d91.7865846?hl=cs" target="_blank">Ganeshguri, KekuraNagar Dispur Assam</a>
                    </div>
                    <div class="fy-hours">Monday - Sunday: 8 am - 9 pm</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="fy-position-relative fy-flex-column-auto fy-flex-column-tablet-100 fy-flex-order-tablet-1">
              <div class="fy-flex-container fy-flex-container-center fy-flex-gutter-xsmall">
                <div class="fy-flex-column-auto">
                  <h1 class="fy-logo fy-logo-image" itemprop="name">
                   <a href="index.html" style="width: 300px; height: 130px;" rel="home">
                    <%= image_tag("Rolling-Balls-logo.png", :alt => "Rolling-Balls-logo", :width => 180 ) %>
                   </a>
                  </h1>
                </div>
                <div class="fy-flex-column">
                  <div class="fy-header-bar">
                    <div class="fy-flex-container fy-flex-container-center fy-flex-gutter-0">
                      <div class="fy-flex-column-auto">
                        <div class="fy-navigation-trigger js-navigation-trigger">
                          <div class="fy-navigation-open">
                            <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                              <path class="shape" d="M3,19h18v-1H3V19z M3,6v1h18V6H3z M3,13h18v-1H3V13z"></path>
                            </svg>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="fy-tablet-hide fy-phone-hide fy-flex-column-auto fy-flex-column-tablet-50 fy-flex-column-phone-100 fy-flex-order-tablet-3 fy-align-right">
              <div class="fy-flex-container fy-flex-container-top fy-flex-gutter-0">
                <div class="fy-flex-column-auto">
                  <nav class="fy-socials fy-socials-networks">
                    <ul>
                      <li>
                        <a href="index.html#" itemprop="sameAs" title="Twitter" target="_blank">
                          <div class="fy-icon">
                            <svg class="icon twitter" width="24" height="24" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                              <path class="shape" fill="#55ACEE" d="M19.6,5.6c0.9-0.5,1.5-1.3,1.8-2.4c-0.8,0.5-1.6,0.8-2.6,1
                                C18,3.5,16.9,3,15.8,3c-2.3,0-4.1,2-4.1,4.3c0,0.4,0,0.7,0.1,0.9C8.5,8.1,5.4,6.4,3.4,3.8C3,4.4,2.9,5.1,2.9,5.9
                                c0,1.4,0.8,2.7,1.9,3.5c-0.6,0-1.3-0.3-1.9-0.5c0,2.1,1.4,3.8,3.3,4.2c-0.4,0.1-0.8,0.1-1.1,0.1c-0.3,0-0.5,0-0.8-0.1
                                c0.5,1.7,2,3,3.9,3C6.8,17.3,5,17.9,3,17.9H2C3.9,19.3,6,20,8.3,20c7.5,0,11.6-6.5,11.6-12.2V7.3C20.8,6.7,21.5,5.9,22,5
                                C21.3,5.4,20.5,5.5,19.6,5.6z">

                              </path>
                           </svg>
                            <span class="fy-hide">Twitter</span>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="index.html#" itemprop="sameAs" title="Instagram" target="_blank">
                          <div class="fy-icon">
                            <svg class="icon instagram" width="24" height="24" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                              <path class="shape" fill="#3F729B" d="M21.9,7.9c0-1.1-0.2-1.8-0.5-2.4c-0.3-0.7-0.6-1.2-1.2-1.8c-0.6-0.6-1.1-0.9-1.8-1.2
                                c-0.6-0.2-1.4-0.4-2.4-0.5C15.1,2,14.7,2,12,2S8.9,2,7.9,2.1c-1.1,0-1.8,0.2-2.4,0.5C4.8,2.8,4.2,3.1,3.7,3.7
                                C3.1,4.2,2.8,4.8,2.5,5.5C2.3,6.1,2.1,6.8,2.1,7.9C2,8.9,2,9.3,2,12c0,2.7,0,3.1,0.1,4.1c0,1.1,0.2,1.8,0.5,2.4
                                c0.3,0.7,0.6,1.2,1.2,1.8c0.6,0.6,1.1,0.9,1.8,1.2c0.6,0.2,1.4,0.4,2.4,0.5C8.9,22,9.3,22,12,22s3.1,0,4.1-0.1
                                c1.1,0,1.8-0.2,2.4-0.5c0.7-0.3,1.2-0.6,1.8-1.2c0.6-0.6,0.9-1.1,1.2-1.8c0.2-0.6,0.4-1.4,0.5-2.4c0-1.1,0.1-1.4,0.1-4.1
                                S22,8.9,21.9,7.9z M20.1,16c0,1-0.2,1.5-0.3,1.9c-0.2,0.5-0.4,0.8-0.7,1.1s-0.7,0.6-1.1,0.7c-0.4,0.1-0.9,0.3-1.9,0.3
                                c-1.1,0-1.4,0.1-4,0.1s-3,0-4-0.1c-1,0-1.5-0.2-1.9-0.3C5.6,19.6,5.3,19.4,5,19s-0.6-0.7-0.7-1.1C4.1,17.5,3.9,17,3.9,16
                                c0-1.1-0.1-1.4-0.1-4s0-3,0.1-4c0-1,0.2-1.5,0.3-1.9C4.4,5.6,4.6,5.3,5,5s0.7-0.6,1.1-0.7C6.5,4.1,7,3.9,8,3.9
                                c1.1,0,1.4-0.1,4-0.1s3,0,4,0.1c1,0,1.5,0.2,1.9,0.3C18.4,4.4,18.7,4.6,19,5s0.6,0.7,0.7,1.1C19.9,6.5,20.1,7,20.1,8
                                c0,1.1,0.1,1.4,0.1,4S20.2,15,20.1,16z M12,6.9c-2.8,0-5.1,2.3-5.1,5.1s2.3,5.1,5.1,5.1s5.1-2.3,5.1-5.1S14.8,6.9,12,6.9z
                                 M12,15.3c-1.8,0-3.3-1.5-3.3-3.3s1.5-3.3,3.3-3.3s3.3,1.5,3.3,3.3S13.8,15.3,12,15.3z M17.3,5.5c-0.7,0-1.2,0.5-1.2,1.2
                                s0.5,1.2,1.2,1.2s1.2-0.5,1.2-1.2S18,5.5,17.3,5.5z"></path>
                            </svg>
                            <span class="fy-hide">Instagram</span>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="index.html#" itemprop="sameAs" title="Yelp" target="_blank">
                          <div class="fy-icon">
                            <svg class="icon yelp" width="24" height="24" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                              <path class="shape" fill="#AF0606" d="M10.7,3c-1.3,0-3,0.6-3.9,1.1c-0.4,0.2-0.6,0.6-0.3,1
                                c0.7,1,3,4.6,4,6c0.5,0.7,1.5,0.3,1.5-0.5c-0.1-2.5-0.3-6-0.4-6.9C11.6,3.1,11.2,3,10.7,3z M10.5,13.6c0-0.3-0.2-0.5-0.5-0.6
                                c-0.7-0.3-2.9-1.2-3.6-1.4c-0.6-0.3-1.1-0.3-1.3,0.4C5.1,12.4,5,14.2,5,14.6c0.1,0.4,0.1,0.7,0.3,0.9c0.2,0.2,0.6,0.1,0.9,0.1
                                c1.1-0.4,2.9-0.9,3.9-1.2C10.3,14.3,10.5,13.9,10.5,13.6z M11.5,15.5c-0.5-0.2-0.7,0-1,0.2c-0.8,1-1.8,2.2-2.7,3.1
                                c-0.3,0.3-0.2,0.8,0.2,1c0.5,0.4,2.1,1,3,1.1c0.6,0.1,0.9,0,0.9-0.7c0-0.6,0.1-2.3,0.1-3.9C12,15.9,11.9,15.7,11.5,15.5z
                                 M14.3,13.1c1-0.2,2.8-0.6,3.9-0.9c0.7-0.2,0.8-0.5,0.5-1.3c-0.4-0.8-1.4-2.1-1.8-2.4c-0.3-0.3-0.7-0.2-0.9,0.1
                                c-0.6,0.8-2.2,2.9-2.6,3.4C13,12.5,13.6,13.3,14.3,13.1z M18.3,15.9c-0.8-0.3-3-1-3.7-1.2c-0.4-0.1-0.7-0.2-1,0.2
                                c-0.4,0.4-0.2,0.7-0.1,1c0.3,0.5,1.6,2.5,2.1,3.3c0.3,0.5,0.8,0.6,1.3,0.2c0.5-0.4,1.6-1.7,1.9-2.3C19,16.4,18.8,16.1,18.3,15.9z"></path>
                            </svg>
                            <span class="fy-hide">Yelp</span>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </nav>

                  <div class="fy-socials fy-socials-contacts">
                    <ul>
                      <li class="fy-email">
                        <a href="mailto:gmail@gmail.com" title="gmail@gmail.com">
                          <div class="fy-icon">
                            <svg class="icon" fill="#1E1E2A" width="24" height="24" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                              <path class="shape" d="M3,5v14h18V5H3z M19.3,6L12,13.3L4.7,6H19.3z M4,6.7L9.3,12L4,17.3V6.7z M4.7,18l5.3-5.3l2,2l2-2l5.3,5.3H4.7
                                  z M20,17.3L14.7,12L20,6.7V17.3z"></path>
                            </svg>
                            <span class="fy-hide">gmail@gmail.com</span>
                          </div>
                        </a>
                      </li>
                      <li class="fy-phone">
                        <a href="tel:+91-222-3344" title="+91-222-3344" itemprop="telephone">
                          <div class="fy-icon">
                            <svg class="icon" fill="#212335" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                              <path class="shape" d="M15.4,14.7c0,0-1.3,3.8-1.3,3.8l0,0c-3.6-1.6-6.6-4.5-8.3-8c0,0,3.6-1.7,3.6-1.7C8.5,7,8,5.1,8,3H3l0.1,1
                                  c0.5,9.1,7.8,16.4,16.9,17l1,0v-5C19,16,17.1,15.5,15.4,14.7z M4.1,4h3c0.1,1.5,0.5,3,1,4.3L5.3,9.6C4.6,7.8,4.2,6,4.1,4z M20,20
                                  c-1.8-0.1-3.6-0.5-5.2-1.1l1-2.9c1.3,0.5,2.7,0.9,4.2,1V20z"></path>
                            </svg>
                            <span class="fy-hide">+8333040471</span>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>


	    <header class="fy-heading js-reveal-container js-video-container">

        <div class="fy-background js-reveal-fade">

          
          <div class="fy-background-image fy-background-image-header js-lazy"
           data-src="./assets/Rolling-Balls-9.jpg"
           style="background-image: url(./assets/Rolling-Balls-9.jpg); visibility: visible;">
          </div>

      		<div class="fy-pattern dots-4-iso"></div>
        </div>
    		<div class="fy-heading-container js-reveal">
    			<div class="fy-centerer-75 fy-position-relative">


    				<h1 itemprop="name headline">
    					<span>Page &#8211; Contact</span>
    				</h1>

    			</div>
    		</div>

	    </header>

      <div class="fy-navigation-close js-navigation-close">
      	<svg class="icon" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      	  <polygon class="shape" points="20.4,4.4 19.6,3.6 12,11.3 4.4,3.6 3.6,4.4 11.3,12 3.6,19.6 4.4,20.4 12,12.7 19.6,20.4 20.4,19.6 12.7,12"></polygon>
        </svg>
      </div>

      <div id="navigation" class="fy-navigation-container fy-navigation-bottom js-navigation js-autohide">
      	<div class="fy-border-pattern askew-2">
      		<svg class="border" width="2560" height="80" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2560 80">
      	    <polygon class="shape" points="0,80 2560,80 2560,0"></polygon>
          </svg>
      	</div>

        <nav class="fy-navigation">
          <ul id="navigation_primary" class="fy-navigation-list">
            <li id="menu-item-71" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1595 current_page_item menu-item-71"><a href="index.html">Home</a></li>
            <li id="menu-item-71" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1595 current_page_item menu-item-71"><a href="index.html#about">About</a></li>
            <li id="menu-item-71" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1595 current_page_item menu-item-71"><a href="index.html">Events</a></li>
            <li id="menu-item-71" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1595 current_page_item menu-item-71"><a href="index.html#gallery">Gallery</a></li>
            <li id="menu-item-71" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1595 current_page_item menu-item-71"><a href="contact.html">Contact</a></li>
          </ul>
        </nav>

      </div>
      <section class="fy-homepage-sections ">
        <div class="fy-wrap">
          <div class="fy-border-pattern askew-2">
            <svg class="border" width="2560" height="80" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2560 80">
             <polygon class="shape" points="0,80 2560,80 2560,0"></polygon>
            </svg>
          </div>
          <div class="fy-centerer-75">

            <div class="fy-flex-container fy-flex-gutter-xlarge">
              <main class="fy-main fy-flex-column-auto fy-sidebar-inactive">
                <div id="content" class="fy-anchor"></div>
                <div class="fy-page-content">
              		<div class="fy-shortcode-container fy-flex-container fy-flex-container-top fy-flex-gutter-medium">
                    <header class="fy-content-heading" style="width: 100%">
                      <h2>
                        <a href="#">
                          <span>Menu</span>
                        </a>
                      </h2>
                    </header>

                    <table class="menu-table" style="width:100%">
                      <tr>
                        <th>Sl no.</th>
                        <th>Items</th>
                        <th>Price in Rs. (Non Members)</th>
                        <th>Price in Rs. (Members)</th>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>French Fries</td>
                        <td>60</td>
                        <td>50</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>Similes</td>
                        <td>70</td>
                        <td>60</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>Potato Bites</td>
                        <td>80</td>
                        <td>70</td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td>Potato Cheese Shots</td>
                        <td>90</td>
                        <td>80</td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td>Super Wedges</td>
                        <td>100</td>
                        <td>90</td>
                      </tr>
                      <tr>
                        <td>6</td>
                        <td>Veg Nuggets</td>
                        <td>100</td>
                        <td>90</td>
                      </tr>
                      <tr>
                        <td>7</td>
                        <td>Masala Fries</td>
                        <td>80</td>
                        <td>70</td>
                      </tr>
                      <tr>
                        <td>8</td>
                        <td>Veg Finger</td>
                        <td>90</td>
                        <td>80</td>
                      </tr>
                      <tr>
                        <td>9</td>
                        <td>Potato Pops</td>
                        <td>80</td>
                        <td>70</td>
                      </tr>
                      <tr>
                        <td>10</td>
                        <td>Chicken Boneless</td>
                        <td>140</td>
                        <td>130</td>
                      </tr>
                      <tr>
                        <td>11</td>
                        <td>Chicken Drumstick</td>
                        <td>140</td>
                        <td>130</td>
                      </tr>
                      <tr>
                        <td>12</td>
                        <td>Chicken Wings</td>
                        <td>140</td>
                        <td>120</td>
                      </tr>
                      <tr>
                        <td>13</td>
                        <td>Chicken Lolipop</td>
                        <td>160</td>
                        <td>140</td>
                      </tr>
                      <tr>
                        <td>14</td>
                        <td>Chicken Kofta</td>
                        <td>180</td>
                        <td>170</td>
                      </tr>
                      <tr>
                        <td>15</td>
                        <td>Chicken Nuggets</td>
                        <td>180</td>
                        <td>170</td>
                      </tr>
                      <tr>
                        <td>16</td>
                        <td>Chicken Popcorn</td>
                        <td>150</td>
                        <td>140</td>
                      </tr>
                      <tr>
                        <td>17</td>
                        <td>Crispy Chicken</td>
                        <td>160</td>
                        <td>150</td>
                      </tr>
                      <tr>
                        <td>18</td>
                        <td>Taco Shells</td>
                        <td>120</td>
                        <td>110</td>
                      </tr>
                      <tr>
                        <td>19</td>
                        <td>Canapes</td>
                        <td>120</td>
                        <td>110</td>
                      </tr>
                      <tr>
                        <td>20</td>
                        <td>Cheese Sandwich</td>
                        <td>80</td>
                        <td>75</td>
                      </tr>
                      <tr>
                        <td>21</td>
                        <td>Club Sandwich</td>
                        <td>90</td>
                        <td>85</td>
                      </tr>
                      <tr>
                        <td>22</td>
                        <td>Veg Grill Sandwich</td>
                        <td>90</td>
                        <td>85</td>
                      </tr>
                      <tr>
                        <td>23</td>
                        <td>Cholestrol Low Sandwich</td>
                        <td>70</td>
                        <td>60</td>
                      </tr>
                      <tr>
                        <td>24</td>
                        <td>Veg Sandwich</td>
                        <td>90</td>
                        <td>80</td>
                      </tr>
                      <tr>
                        <td>25</td>
                        <td>Paneer Cheese Sandwich</td>
                        <td>110</td>
                        <td>100</td>
                      </tr>
                      <tr>
                        <td>26</td>
                        <td>Chicken Grill Sandwich</td>
                        <td>120</td>
                        <td>110</td>
                      </tr>
                      <tr>
                        <td>27</td>
                        <td>Chicken Sandwich</td>
                        <td>110</td>
                        <td>100</td>
                      </tr>
                      <tr>
                        <td>28</td>
                        <td>Chicken Burger</td>
                        <td>100</td>
                        <td>90</td>
                      </tr>
                      <tr>
                        <td>29</td>
                        <td>Veg Burger</td>
                        <td>80</td>
                        <td>80</td>
                      </tr>
                      <tr>
                        <td>30</td>
                        <td>Aloo Tikki Burger</td>
                        <td>80</td>
                        <td>80</td>
                      </tr>
                      <tr>
                        <td>31</td>
                        <td>Maggie</td>
                        <td>50</td>
                        <td>45</td>
                      </tr>
                      <tr>
                        <td>31</td>
                        <td>Maggie</td>
                        <td>50</td>
                        <td>45</td>
                      </tr>
                      <tr>
                        <td>32</td>
                        <td>Cheese Maggie</td>
                        <td>70</td>
                        <td>65</td>
                      </tr>
                      <tr>
                        <td>33</td>
                        <td>Double Egg Maggie</td>
                        <td>80</td>
                        <td>70</td>
                      </tr>
                      <tr>
                        <td>34</td>
                        <td>Veg Roll</td>
                        <td>50</td>
                        <td>50</td>
                      </tr>
                      <tr>
                        <td>35</td>
                        <td>Egg Roll</td>
                        <td>60</td>
                        <td>60</td>
                      </tr>
                      <tr>
                        <td>36</td>
                        <td>Chicken Roll</td>
                        <td>70</td>
                        <td>70</td>
                      </tr>
                      <tr>
                        <td>37</td>
                        <td>Veg Mazza Roll</td>
                        <td>80</td>
                        <td>80</td>
                      </tr>
                      <tr>
                        <td>38</td>
                        <td>Paneer Roll</td>
                        <td>70</td>
                        <td>70</td>
                      </tr>
                      <tr>
                        <td>39</td>
                        <td>Chicken Maggie</td>
                        <td>90</td>
                        <td>85</td>
                      </tr>
                      <tr>
                        <td>40</td>
                        <td>Red Bull</td>
                        <td>140</td>
                        <td>130</td>
                      </tr>
                      <tr>
                        <td>41</td>
                        <td>Choclate Shake</td>
                        <td>80</td>
                        <td>75</td>
                      </tr>
                      <tr>
                        <td>42</td>
                        <td>Strawberry Shake</td>
                        <td>80</td>
                        <td>75</td>
                      </tr>
                      <tr>
                        <td>43</td>
                        <td>Mango Shake</td>
                        <td>80</td>
                        <td>75</td>
                      </tr>
                      <tr>
                        <td>44</td>
                        <td>Blue Lagoon</td>
                        <td>80</td>
                        <td>75</td>
                      </tr>
                      <tr>
                        <td>45</td>
                        <td>Strawberry Coke</td>
                        <td>80</td>
                        <td>75</td>
                      </tr>
                      <tr>
                        <td>46</td>
                        <td>Green Crush</td>
                        <td>80</td>
                        <td>75</td>
                      </tr>
                      <tr>
                        <td>47</td>
                        <td>Mint Crush</td>
                        <td>80</td>
                        <td>75</td>
                      </tr>
                      <tr>
                        <td>48</td>
                        <td>Rose Crush</td>
                        <td>80</td>
                        <td>75</td>
                      </tr>
                      <tr>
                        <td>49</td>
                        <td>Fresh Lime Soda</td>
                        <td>50</td>
                        <td>50</td>
                      </tr>
                      <tr>
                        <td>50</td>
                        <td>Cold Drinks</td>
                        <td>30</td>
                        <td>30</td>
                      </tr>
                      <tr>
                        <td>51</td>
                        <td>Coffee</td>
                        <td>40</td>
                        <td>40</td>
                      </tr>
                      <tr>
                        <td>52</td>
                        <td>Black Coffee</td>
                        <td>40</td>
                        <td>40</td>
                      </tr>

                      <tr>
                        <td>53</td>
                        <td>Tea</td>
                        <td>40</td>
                        <td>40</td>
                      </tr>
                      <tr>
                        <td>54</td>
                        <td>Green Tea (Peach)</td>
                        <td>40</td>
                        <td>40</td>
                      </tr>
                      <tr>
                        <td>55</td>
                        <td>Green Tea (Elachi)</td>
                        <td>40</td>
                        <td>40</td>
                      </tr>
                      <tr>
                        <td>56</td>
                        <td>Green Tea (Lime)</td>
                        <td>40</td>
                        <td>40</td>
                      </tr>
                      <tr>
                        <td>57</td>
                        <td>Green Tea (Ginger)</td>
                        <td>40</td>
                        <td>40</td>
                      </tr>
                      <tr>
                        <td>58</td>
                        <td>Green Tea (Cinnemom)</td>
                        <td>40</td>
                        <td>40</td>
                      </tr>
                      <tr>
                        <td>59</td>
                        <td>Mineral Water</td>
                        <td>20</td>
                        <td>20</td>
                      </tr>
                    </table>
                  </div>
                </div>
              </main>
            </div>
          </div>
        </div>
      </section>
    </div>

    <footer id="footer" class="fy-footer">
   <div class="fy-footer-copyright-area">
    <div class="fy-border-pattern askew-2">
     <svg class="border" width="2560" height="80" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2560 80">
      <polygon class="shape" points="0,80 2560,80 2560,0"></polygon>
     </svg>
    </div>
    <div class="fy-centerer">
      <div class="fy-flex-container fy-flex-container-top js-reveal-container">
       <div class="fy-footer-directions fy-flex-column-auto fy-flex-column-phone-100 fy-flex-order-tablet-2">
        <div class="js-reveal" data-sr-id="32" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.5s ease-in-out 0s, opacity 0.5s ease-in-out 0s; transition: transform 0.5s ease-in-out 0s, opacity 0.5s ease-in-out 0s; ">
        <div class="fy-directions">
        <div class="fy-flex-container fy-flex-container-center fy-flex-gutter-0">
        <div class="fy-flex-column fy-flex-column-phone-100">
        <a class="fy-icon fy-icon-place" href="https://www.google.cz/maps/place/Dispur+Hospitals/@26.1532892,91.7792473,16z/data=!4m13!1m7!3m6!1s0x375a591866013303:0x9a010eab0d7c7802!2zR2FuZXNoZ3VyaSwgR3V2w6Fow6F0w60sIMOBc8OhbSwgSW5kaWU!3b1!8m2!3d26.1537719!4d91.7824884!3m4!1s0x0:0x55cdfb20dff0d0bb!8m2!3d26.149691!4d91.7865846?hl=cs" target="_blank" tabindex="-1">
          <svg class="icon" fill="#212335" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
           <path class="shape" d="M12,3c-3.9,0-7,3.1-7,7c0,1.5,0.5,3,1.3,4.1L12,21l5.7-6.9C18.5,13,19,11.5,19,10C19,6.1,15.9,3,12,3z
                 M16.9,13.5L12,19.4l-4.9-5.9C6.4,12.5,6,11.3,6,10c0-3.3,2.7-6,6-6s6,2.7,6,6C18,11.3,17.6,12.5,16.9,13.5z M12,7
                c-1.7,0-3,1.3-3,3s1.3,3,3,3s3-1.3,3-3S13.7,7,12,7z M12,12c-1.1,0-2-0.9-2-2s0.9-2,2-2s2,0.9,2,2S13.1,12,12,12z"></path>
          </svg>
          <span class="fy-hide">Ganeshguri, KekuraNagar Dispur Assam</span>
        </a>
        </div>
        <div class="fy-flex-column-auto">
        <div class="fy-address">
        <a href="https://www.google.cz/maps/place/Dispur+Hospitals/@26.1532892,91.7792473,16z/data=!4m13!1m7!3m6!1s0x375a591866013303:0x9a010eab0d7c7802!2zR2FuZXNoZ3VyaSwgR3V2w6Fow6F0w60sIMOBc8OhbSwgSW5kaWU!3b1!8m2!3d26.1537719!4d91.7824884!3m4!1s0x0:0x55cdfb20dff0d0bb!8m2!3d26.149691!4d91.7865846?hl=cs" target="_blank">Ganeshguri, KekuraNagar Dispur Assam</a>
        </div>
        <div class="fy-hours">Monday - Sunday: 8 am - 9 pm</div>
        </div>
        </div>
        </div>
      </div>
    </div>

    <div class="fy-footer-logo fy-flex-column-auto fy-flex-column-tablet-100 fy-flex-column-phone-100 fy-flex-order-tablet-1">
     <a href="#top" class="js-reveal" data-sr-id="33" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: color 0.25s ease-in-out 0s, background-color 0.25s ease-in-out 0s, border-color 0.25s ease-in-out 0s, -webkit-transform 0.5s ease-in-out 0s, opacity 0.5s ease-in-out 0s; transition: color 0.25s ease-in-out 0s, background-color 0.25s ease-in-out 0s, border-color 0.25s ease-in-out 0s, transform 0.5s ease-in-out 0s, opacity 0.5s ease-in-out 0s; ">
      <img src="./assets/img/rollingballslogo.png" width="90" height="128" alt="Ginger Grill – Just another Ginger Sites site">
     </a>
    </div>

    <div class="fy-footer-socials fy-flex-column-auto fy-flex-column-phone-100 fy-flex-order-tablet-2">
    <div class="js-reveal" data-sr-id="34" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.5s ease-in-out 0s, opacity 0.5s ease-in-out 0s; transition: transform 0.5s ease-in-out 0s, opacity 0.5s ease-in-out 0s; ">

    <nav class="fy-socials fy-socials-networks">
      <ul>
        <li>
          <a href="#" itemprop="sameAs" title="Twitter" target="_blank">
          <div class="fy-icon">
          <svg class="icon twitter" width="24" height="24" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path class="shape" fill="#55ACEE" d="M19.6,5.6c0.9-0.5,1.5-1.3,1.8-2.4c-0.8,0.5-1.6,0.8-2.6,1
                C18,3.5,16.9,3,15.8,3c-2.3,0-4.1,2-4.1,4.3c0,0.4,0,0.7,0.1,0.9C8.5,8.1,5.4,6.4,3.4,3.8C3,4.4,2.9,5.1,2.9,5.9
                c0,1.4,0.8,2.7,1.9,3.5c-0.6,0-1.3-0.3-1.9-0.5c0,2.1,1.4,3.8,3.3,4.2c-0.4,0.1-0.8,0.1-1.1,0.1c-0.3,0-0.5,0-0.8-0.1
                c0.5,1.7,2,3,3.9,3C6.8,17.3,5,17.9,3,17.9H2C3.9,19.3,6,20,8.3,20c7.5,0,11.6-6.5,11.6-12.2V7.3C20.8,6.7,21.5,5.9,22,5
                C21.3,5.4,20.5,5.5,19.6,5.6z"></path>
          </svg>
          <span class="fy-hide">Twitter</span>
          </div>
          </a>
         </li>
         <li>
          <a href="#" itemprop="sameAs" title="Instagram" target="_blank">
            <div class="fy-icon">
            <svg class="icon instagram" width="24" height="24" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path class="shape" fill="#3F729B" d="M21.9,7.9c0-1.1-0.2-1.8-0.5-2.4c-0.3-0.7-0.6-1.2-1.2-1.8c-0.6-0.6-1.1-0.9-1.8-1.2
                c-0.6-0.2-1.4-0.4-2.4-0.5C15.1,2,14.7,2,12,2S8.9,2,7.9,2.1c-1.1,0-1.8,0.2-2.4,0.5C4.8,2.8,4.2,3.1,3.7,3.7
                C3.1,4.2,2.8,4.8,2.5,5.5C2.3,6.1,2.1,6.8,2.1,7.9C2,8.9,2,9.3,2,12c0,2.7,0,3.1,0.1,4.1c0,1.1,0.2,1.8,0.5,2.4
                c0.3,0.7,0.6,1.2,1.2,1.8c0.6,0.6,1.1,0.9,1.8,1.2c0.6,0.2,1.4,0.4,2.4,0.5C8.9,22,9.3,22,12,22s3.1,0,4.1-0.1
                c1.1,0,1.8-0.2,2.4-0.5c0.7-0.3,1.2-0.6,1.8-1.2c0.6-0.6,0.9-1.1,1.2-1.8c0.2-0.6,0.4-1.4,0.5-2.4c0-1.1,0.1-1.4,0.1-4.1
                S22,8.9,21.9,7.9z M20.1,16c0,1-0.2,1.5-0.3,1.9c-0.2,0.5-0.4,0.8-0.7,1.1s-0.7,0.6-1.1,0.7c-0.4,0.1-0.9,0.3-1.9,0.3
                c-1.1,0-1.4,0.1-4,0.1s-3,0-4-0.1c-1,0-1.5-0.2-1.9-0.3C5.6,19.6,5.3,19.4,5,19s-0.6-0.7-0.7-1.1C4.1,17.5,3.9,17,3.9,16
                c0-1.1-0.1-1.4-0.1-4s0-3,0.1-4c0-1,0.2-1.5,0.3-1.9C4.4,5.6,4.6,5.3,5,5s0.7-0.6,1.1-0.7C6.5,4.1,7,3.9,8,3.9
                c1.1,0,1.4-0.1,4-0.1s3,0,4,0.1c1,0,1.5,0.2,1.9,0.3C18.4,4.4,18.7,4.6,19,5s0.6,0.7,0.7,1.1C19.9,6.5,20.1,7,20.1,8
                c0,1.1,0.1,1.4,0.1,4S20.2,15,20.1,16z M12,6.9c-2.8,0-5.1,2.3-5.1,5.1s2.3,5.1,5.1,5.1s5.1-2.3,5.1-5.1S14.8,6.9,12,6.9z
                 M12,15.3c-1.8,0-3.3-1.5-3.3-3.3s1.5-3.3,3.3-3.3s3.3,1.5,3.3,3.3S13.8,15.3,12,15.3z M17.3,5.5c-0.7,0-1.2,0.5-1.2,1.2
                s0.5,1.2,1.2,1.2s1.2-0.5,1.2-1.2S18,5.5,17.3,5.5z"></path>
            </svg>
            <span class="fy-hide">Instagram</span>
            </div>
           </a>
          </li>
          <li>
           <a href="#" itemprop="sameAs" title="Yelp" target="_blank">
            <div class="fy-icon">
             <svg class="icon yelp" width="24" height="24" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path class="shape" fill="#AF0606" d="M10.7,3c-1.3,0-3,0.6-3.9,1.1c-0.4,0.2-0.6,0.6-0.3,1
                c0.7,1,3,4.6,4,6c0.5,0.7,1.5,0.3,1.5-0.5c-0.1-2.5-0.3-6-0.4-6.9C11.6,3.1,11.2,3,10.7,3z M10.5,13.6c0-0.3-0.2-0.5-0.5-0.6
                c-0.7-0.3-2.9-1.2-3.6-1.4c-0.6-0.3-1.1-0.3-1.3,0.4C5.1,12.4,5,14.2,5,14.6c0.1,0.4,0.1,0.7,0.3,0.9c0.2,0.2,0.6,0.1,0.9,0.1
                c1.1-0.4,2.9-0.9,3.9-1.2C10.3,14.3,10.5,13.9,10.5,13.6z M11.5,15.5c-0.5-0.2-0.7,0-1,0.2c-0.8,1-1.8,2.2-2.7,3.1
                c-0.3,0.3-0.2,0.8,0.2,1c0.5,0.4,2.1,1,3,1.1c0.6,0.1,0.9,0,0.9-0.7c0-0.6,0.1-2.3,0.1-3.9C12,15.9,11.9,15.7,11.5,15.5z
                 M14.3,13.1c1-0.2,2.8-0.6,3.9-0.9c0.7-0.2,0.8-0.5,0.5-1.3c-0.4-0.8-1.4-2.1-1.8-2.4c-0.3-0.3-0.7-0.2-0.9,0.1
                c-0.6,0.8-2.2,2.9-2.6,3.4C13,12.5,13.6,13.3,14.3,13.1z M18.3,15.9c-0.8-0.3-3-1-3.7-1.2c-0.4-0.1-0.7-0.2-1,0.2
                c-0.4,0.4-0.2,0.7-0.1,1c0.3,0.5,1.6,2.5,2.1,3.3c0.3,0.5,0.8,0.6,1.3,0.2c0.5-0.4,1.6-1.7,1.9-2.3C19,16.4,18.8,16.1,18.3,15.9z"></path>
            </svg>
            <span class="fy-hide">Yelp</span>
            </div>
            </a>
            </li>
          </ul>
         </nav>

       <div class="fy-socials fy-socials-contacts">
        <ul>
         <li class="fy-email">
          <a href="mailto:gmail@gmail.com" title="gmail@gmail.com">
          <div class="fy-icon">
          <svg class="icon" fill="#1E1E2A" width="24" height="24" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path class="shape" d="M3,5v14h18V5H3z M19.3,6L12,13.3L4.7,6H19.3z M4,6.7L9.3,12L4,17.3V6.7z M4.7,18l5.3-5.3l2,2l2-2l5.3,5.3H4.7
                z M20,17.3L14.7,12L20,6.7V17.3z"></path>
          </svg>
          <span class="fy-hide">gmail@gmail.com</span>
          </div>
          </a>
         </li>
        <li class="fy-phone">
         <a href="tel:+91-222-3344" title="+91-222-3344" itemprop="telephone">
          <div class="fy-icon">
            <svg class="icon" fill="#212335" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path class="shape" d="M15.4,14.7c0,0-1.3,3.8-1.3,3.8l0,0c-3.6-1.6-6.6-4.5-8.3-8c0,0,3.6-1.7,3.6-1.7C8.5,7,8,5.1,8,3H3l0.1,1
                c0.5,9.1,7.8,16.4,16.9,17l1,0v-5C19,16,17.1,15.5,15.4,14.7z M4.1,4h3c0.1,1.5,0.5,3,1,4.3L5.3,9.6C4.6,7.8,4.2,6,4.1,4z M20,20
                c-1.8-0.1-3.6-0.5-5.2-1.1l1-2.9c1.3,0.5,2.7,0.9,4.2,1V20z"></path>
            </svg>
            <span class="fy-hide">+8333040471</span>
          </div>
        </a>
        </li>
       </ul>
      </div>
    </div>
  </div>

  <div class="fy-footer-navigation-column fy-flex-column-100 fy-flex-order-tablet-2">
   <nav class="fy-footer-navigation js-reveal" data-sr-id="35" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.5s ease-in-out 0s, opacity 0.5s ease-in-out 0s; transition: transform 0.5s ease-in-out 0s, opacity 0.5s ease-in-out 0s; ">
     <ul id="navigation_footer" class="fy-navigation-footer">
        <li id="menu-item-71" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1595 current_page_item menu-item-71"><a href="index.html">Home</a></li>
        <li id="menu-item-71" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1595 current_page_item menu-item-71"><a href="index.html#about">About</a></li>
        <li id="menu-item-71" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1595 current_page_item menu-item-71"><a href="index.html">Events</a></li>
        <li id="menu-item-71" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1595 current_page_item menu-item-71"><a href="index.html">Gallery</a></li>
        <li id="menu-item-71" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1595 current_page_item menu-item-71"><a href="contact.html">Contact</a></li>
     </ul>
   </nav>
  </div>

  <div class="fy-footer-copyright-column fy-flex-column-100 fy-flex-order-tablet-2">
   <a href="#top" class="fy-back-to-top js-back-to-top">
   <span class="fy-icon"><svg class="icon" width="24" height="24" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
   <polygon class="shape" points="12.5,0 7,6 12,6 12,24 13,24 13,6 18,6"></polygon>
  </svg>
  </span>
  <span class="fy-hide">Back to Top</span>
  </a>
  <div class="fy-footer-copyright js-reveal" data-sr-id="36" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.5s ease-in-out 0s, opacity 0.5s ease-in-out 0s; transition: transform 0.5s ease-in-out 0s, opacity 0.5s ease-in-out 0s; ">
    Copyright © 2017 <a href="https://quadtrust.com/" title="Quadtrust Site">Quadtrust</a>.
    <div class="fy-footer-themeby">
      Theme by <a href="https://quadtrust.com/">Quadtrust</a>
    </div>
  </div>
  </div>
  </div>
  </div>
  </div>
</footer>
  </div>
