<div style="display:flex;justify-content:center;align-items:center;width: 100%;height:100vh;">

  <div class="fy-shortcode-form" style="max-width: 450px;width:100%;">

  <div class="fy-form-contact">
  <div id="contact-form" class="fy-anchor"></div>

        <header class="fy-form-header">
      <h2 class="text-center">Log In</h2>
  </header>


  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "fy-form fy-input-flex-1"}) do |f| %>

      <div class="fy-flex-container">
          <div class="fy-flex-column-auto fy-flex-column-phone-100">
              <div class="fy-field">
                <%= f.label :email, :class => 'fy-label' %>
                <%= f.email_field :email, autofocus: true, :class => 'fy-input', :placeholder => 'Your email' %>
              </div>
          </div>
      </div>

      <div class="fy-flex-container">
          <div class="fy-flex-column-auto fy-flex-column-phone-100">
              <div class="fy-field">
                <%= f.label :password, :class => 'fy-label' %>
                <%= f.password_field :password, autocomplete: "off", :class => 'fy-input fy-input-flex-1', :placeholder => 'Your email' %>
              </div>
          </div>
      </div>


      <div class="fy-form-submit">
          <div class="fy-flex-container fy-flex-container-center">

              <div class="fy-flex-column-auto fy-flex-column-phone-100 fy-align-center">
                <%= f.submit "Log in", :class => "fy-button fy-button-accent" %>

              </div>

          </div>
      </div>
      <% end %>



  </div>

      </div>

</div>
