/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require lightbox
 *= require owl.carousel
 *= require owl.theme
 *= require main
 *= require price
 *= require playfair
 *= require_self
 */
 .js-lazy-parent > .fy-image-portrait {
      background-size: 100% 100%;
    }
    table.menu-table, th, td {
    border: 1px solid #938477;
    border-collapse: collapse;
    }
    table.menu-table th, table.menu-table td {
        padding: 5px;
        text-align: center;
        color: white
    }
    table.menu-table th {
      background-color: #CB1586;
    }
    table.menu-table tr:nth-child(even) {
      background-color: #0190AF;
    }
 .fy-background-image-contact {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #282832;
    transition: all 0.25s ease-in-out 0s;
    background-image: url('./Rolling-Balls-9.jpg');
 }
th, td {
  min-width: 60px;
  min-height: 40px;
  padding: 10px;
}
th{
  font-size: 16px;
}
td {
  vertical-align: top;
}
table {
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid #ccc;
}
.fy-logout-button, .fy-logout-button:hover {
    padding: 5px 20px;
    font-family: Playfair Display;
    font-size: 14px;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 0px;
     color: #282832;
     background-color: #b4a08c;
    border: 1px solid transparent;
    border-radius: 1px;
    transition: all 0.25s ease-in-out 0s;
}
 .js-lazy-parent > .fy-image-portrait {
    background-size: 100% 100%;
  }
  article.fy-post-gallery-single{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .fy-input-flex-1 {
    flex: 1;
  }
  .fy-masonry-item {
    width: 23%;
    margin-bottom: 20px;
    transition: all 0.5s ease-in-out;
  }
  .fy-masonry-item:hover {
    margin-top: -15px;
  }
  @media screen and (max-width: 1200px){
    .fy-masonry-item {
      width: 30%;
    }
  }
  @media screen and (max-width: 720px){
    .fy-masonry-item {
      width: 45%;
    }
  }
  @media screen and (max-width: 400px){
    .fy-masonry-item {
      width: 90%;
    }
  }

  a:hover {
    text-decoration: none;
  }
