<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
  <title>Rolling Ball</title>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />

  <meta content="Rolling Ball" name="description" />
  <meta content="Quadtrust " name="author" />

  <%= stylesheet_link_tag 'application' %>
  
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<%= javascript_include_tag 'application' %>
</body>
</html>
